{% extends 'cashier/base.html' %}
{% block content %}
<div class="container">
  <h2 style="text-align:center;">Room overview</h2>
  <div style="background-color: pink; border-radius: 15px; margin-bottom: 10px;"
  class="col-md-4 col-md-offset-4">
    <h4 style="text-decoration:underline; text-align:center"> How to pay</h4>
      Pay to the mobilepaybox <strong>box24809</strong>. <br/>
      Remember to type box in front of the numbers <br/>

      If you don't have mobilepay pay in cash to Rikke.
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Overview</th>
      </tr>
    </thead>
    <tbody>
      {% for room in data %}
          {% if room.balance < 0  %}
          <tr class="danger">
          {% else %}
          <tr class="success">
          {% endif %}
          <td>{{room.roomNr}}</td>
          <td>{{room.name}}</td>
          <td>{{room.balance}}</td>
          <td class="text-center">
            <a href="{% url 'Room' room.roomNr %}" class="btn btn-primary btn-sm">Room Overview</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
