<!DOCTYPE html>
<html lang="da">

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <script type="text/javascript">
        $(function() {
            $("#Date").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
    <style>
        #overskrift {
            text-align: center;
            color: white;
            background-color: black;
        }
    </style>
</head>

<body>
    <div class="jumbotron" id="overskrift">
        <h1><a href="{% url 'AllRooms' %}">Dormitory Dollars</a></h1>
        <h3>Østervold Kollegiet 1. sal</h3>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
