{% extends 'cashier/base.html' %}
{% block content %}

<div class="container">
  <h2 style="text-align:center;">
    Overview for <strong>{{data.contactInfo.Name}}</strong> <br>
    You balance is
    {% if  data.balance >= 0 %}
      <span class="text-success">
    {% else %}
      <span class="text-danger">
    {% endif %}
    {{data.balance}}</span> crowns
  </h2>
  <div class="panel-group margin:auto text-center">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4 class="panel-title btn btn-info">
          <a data-toggle="collapse" href="#contactInfo">Contact info</a>
        </h4>
      </div>
      <div id="contactInfo" class="panel-collapse collapse">
        {% if data.hasContactInfo  %}

        <div class="panel-body">
          <strong>Phone Number: </strong> {{data.contactInfo.Phone}}
        </div>

        <div class="panel-footer">
          <strong>Emergency Contact:</strong>
          {{data.contactInfo.EmergencyContact }} :
          {{data.contactInfo.EmergencyPhone}}
        </div>


        {% else %}
        <div class="panel-body">
          You don't have any contact info, contact the cashier to get it.
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div
    style="
      background-color: pink;
      border-radius: 15px;
      margin:auto;
      width:400px;
      padding:20px;
      margin-bottom: 20px;
    "
  >
    <h4 style="text-decoration:underline; text-align:center">How to pay</h4>
    Pay to the mobilepaybox <strong>box24809</strong>. <br />
    Remember to type box in front of the numbers <br />

    If you don't have mobilepay pay in cash to Rikke.
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in data.transactions %}
          {% if transaction.type == 'expense' or transaction.type == 'pay' %}
            <tr class="table-success">
          {% else %}
            <tr class="table-danger">
          {% endif %}
          <td>{{transaction.date}}</td>
          <td>{{transaction.description}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.type}}</td>
          <td>{{transaction.total}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
